#main-logo {
    /* Rescale logo */
    --main-logo-pc-adjustment: 272px;
    //height: var(--main-logo-pc-adjustment);
    width: var(--main-logo-pc-adjustment);

    /* Position logo */
    padding-top: 190px;
    display: block;
    margin: auto;

}

#searchbar {
    /* Resize searchbar */
    width: 480px;
    
    /* Position searchbar */
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;

    /* appearance */
    /* make textbox border invisible & add visual border
    further out to which the border radius applies */
    //border-radius: 12px;
}

#search-buttons {
    display: block;
    margin: auto;
    width: 260px;
}